<% include ./partials/header %>

<div class="container mt-3">
    <div class="info-container">
        <div class="title text-center">
            <h1 class="display-4">Profilo</h1>
        </div>
        <div class="d-flex m-3">
            <div class="row">
                <div class="col">
                    <img src="<%= utente.thumbnail %>" class="info-container" style="width: 200px;" class="m-3">
                </div>
                <div class="col">
                    <p><strong>Nome utente:</strong></p>
                    <p><%= utente.username %></p>
                </div>
                <div class="col">
                    <form action="/profilo/<%= utente._id %>?_method=PUT" method="POST">
                        <div class="form-group">
                            <label for="nickname"><strong>Nickname:</strong></label>
                            <input type="text" autocomplete="off" aria-describedby="usernameRules" class="form-control" name="nickname" id="nickname"
                                placeholder="DARKANGELCRAFT" value="<%= utente.nickname %>" maxlength="15" minlength="5">
                            <small id="usernameRules" class="form-text text-muted">Da 5 a 15 caratteri, solo lettere, numeri e trattini bassi.</small>
                            <button class="mt-2 btn btn-primary" id="changeNickname" type="submit">Cambia
                                Nickname</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <hr style="width: 97%;">
    <div class="m-3">
        <p class="blockquote-footer">Informazioni private</p>
        <p><strong>Google ID:</strong> <%= utente.googleId %></p>
    </div>
    <div class="mb-3 text-center">
        <a class="btn btn-primary btn-lg" href="/nuovapartita" role="button">Nuova partita</a>
    </div>
</div>
</div>

<script>
    $("#changeNickname").hide();
    $("#usernameRules").hide();
    var currentUsername = $('#nickname').val();
    $('#nickname').keyup(function() {
        if($('#nickname').val() != currentUsername && /^\w+$/.test($('#nickname').val())){
            $("#changeNickname").show();
            $("#usernameRules").show();
        } else {
            $("#changeNickname").hide();
            $("#usernameRules").hide();
        }
    });
</script>

<% include ./partials/footer %>